.navbar h3{
    color: #633b3d;
    font-size: 30px;
    width: fit-content;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar a{
    color: #b24e55;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    left: 17rem;
}
.navbar button{
    position: relative;
    left: 25rem;
    margin-left: 2rem;
    background-color:  #ff6b81;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(255, 107, 129, 0.4), 0 6px 20px 0 rgba(255, 107, 129, 0.4);
}
.login{
    background-color: #fff !important;
    color: #000 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.home{
    height: 91vh;
}
.home h1{
    color: #403334;
    text-align: center;
    font-size: 55px;
    position: relative;
    top: 20px;
}
.home span{
    font-family: 'Instrument Serif',sans-serif;
    font-style: italic;
    font-weight: 100;
    color: #b24e55;
}
.home p{
    font-size: 18px;
    color: #4a3d55;
    font-weight: 300;
    text-align: center;
}
.buttons button{
    border: none;
    padding: 15px;
    margin-right: 40px;
    position: relative;
    left: 36%;
    top: 15px;
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 15px;
}
.cta1{
    background-color: #ff6b81;
    color: #fff;
    border: none !important;
    box-shadow: 
  0 4px 8px rgba(0, 0, 0, 0.25),
  0 10px 24px rgba(255, 107, 129, 0.6);

}
.cta2{
    border: none !important;
    color: #000;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 140vh !important;
}
.features h1,.reviews h1{
    width: max-content;
    position: relative;
    right: 20px;
    height: max-content;
    padding: 6px 16px;
    border-radius: 30px;
    background-color: #ffe0e0;
    color: #b26469;
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(255, 105, 180, 0.3);
}
.bento{
    display: flex;
    flex-direction: column;
}
.one,.two,.three,.four{
    border-radius: 30px;
    background-color: #d35c65;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
    display: flex;
}
.one{
    width: 550px;
    height: 400px;
    position: relative;
    right: 0px;
    top: 50px;
}
.one h2{
    position: relative;
    top: 70px;
    font-size: 30px;
}
.one h5{
    position: relative;
    top: 40px;
    font-size: 18px;
    font-family: 'Instrument serif', sans-serif;
    font-style: italic;
    font-weight: 100;
}
.one p{
    position: relative;
    top: 30px;
    font-size: 14px;
}
.two{
    width: 400px;
    height: 190px;
    position: relative;
    top: -350px;
    left: 580px;
}
.two h2,.three h2{
    position: relative;
    top: 5px;
    left:  20px;
    font-size: 25px;
}
.two h5,.three h5{
    position: relative;
    left: 20px;
    top: -25px;
    font-size: 18px;
    font-family: 'Instrument serif', sans-serif;
    font-style: italic;
    font-weight: 100;
}
.two p, .three p{
    position: relative;
    top: -40px;
    left: -55px;
    font-size: 13px;
}
.three{
    width: 400px;
    height: 190px;
    position: relative;
    top: -330px;
    left: 580px;
}
.four{
    width: 980px;
    height: 230px;
    position: relative;
    top: -310px;
}
.one img{
    background-color: transparent;
    width: 250px;
    height: fit-content;
    position: relative;
    top: 50px;
    left: 10px;
}
.four img{
    background-color: transparent;
    width: 200px;
    position: relative;
    left: 20px;
}
.four h2{
    position: relative;
    top: 5px;
    left:  25%;
    font-size: 35px;
}
.four h5{
    position: relative;
    left: 45%;
    top: -25px;
    font-size: 18px;
    font-family: 'Instrument serif', sans-serif;
    font-style: italic;
    font-weight: 100;
}
.four p{
    position: relative;
    top: -40px;
    left: 15%;
    font-size: 14px;
    text-align: center;
}
.fe{
    background-color: transparent;
    font-size: 160px;
    color: #ffe0e0;
    position: relative;
    top: -25px;
    left: 20px;
}
.text,.text h2, .text h5, .text p{
    background-color: transparent;
    color: #fff;
}
.reviews{
    height: 103vh;
}
.reviews h1{
    left: 37%;
}
.reviews img{
    border-radius: 25px;
    padding: 10px;
    width: 370px;
    height: 180px;
}
.marquee{
    position: relative;
    top: 60px;
}
.footer{
    background-color: #d35c65;
    position: relative;
    top: 60px;
    width: 1343px;
    height: 110px;
    position: relative;
    left: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p{
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    margin-right: 35px;
}
.heart{
    background-color: transparent;
    color: #fff;
    position: relative;
    top: 3px;
    left: -4px;
}
.icon{
    background-color: transparent;
    color: #fff;
    padding: 5px;
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-right: 10px;
}
