.form{
    width: 400px;
    height: 470px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    position: relative;
    top: 80px;
    left: 450px;
}
.form h1{
    font-size: 22px;
    background-color: transparent !important;
}
.form h3{
    font-size: 14px;
    font-weight: 300;
    background-color: transparent !important;
    position: relative;
    top: -20px;
}
Form{
    display: flex;
    flex-direction: column;
    background-color: transparent !important;
    position: relative;
    left: -20px;
}
Form label, input, p{
    background-color: transparent !important;
}
Form label{
    margin-bottom: 1px;
    font-size: 14px;
}
Form input{
    border-radius: 5px;
    border: 1px solid #000;
    width: 330px;
    position: relative;
    left: 6px;
    margin-bottom: 10px;
    padding: 5px;
}
Form button{
    border-radius: 8px;
    border: 1px solid #000;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
}
Form a{
    font-size: 12px;
    text-decoration: underline;
    background-color: transparent !important;
    position: relative;
    left: 75px;
    margin-bottom: 15px;
    cursor: pointer;
}
.lgn{
    position: relative; 
    background-color: #000;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    left: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.hr1{
    width: 40%;
    position: relative;
    left: -90px;
}
Form p{
    position: relative;
    top: -38px;
    left: 160px;
}
.hr2{
    width: 40%;
    position: relative;
    left: 105px;
    top: -75px;
}
.google{
    background-color: #fa828a;
    color: #fff;
    border: none;
    font-weight: 300;
    font-size: 14px;
    position: relative;
    left: 7px;
    top: -70px;
}
.form span{
    color: #fa828a;
    background-color: transparent !important;
    font-weight: 100;
    font-family: 'Instrument Serif', sans-serif;
    font-style: italic;
    font-size: 25px;
}
.error p{
    background-color: transparent;
    color: red;
    font-size: 14px;
}
.error{
    background-color: transparent;
    width: max-content;
    height: max-content;
    position: relative;
    top: -30px;
    margin: 0;
}